apiVersion: v1
kind: Secret
metadata:
  name: screwdriver-api-prod-secrets
  namespace: test-screwdriver
type: Opaque
data:
  jwtpublickey: {{jwtpublickey}}
  jwtprivatekey: {{jwtprivatekey}}
  cookiepassword: {{cookiepassword}}
  encryptionpassword: {{encryptionpassword}}
  hashingpassword: {{hashingpassword}}
  scmsettings: {{scmsettings}}