apiVersion: v1
kind: Secret
metadata:
  name: screwdriver-api-secrets
  namespace: test-screwdriver
type: Opaque
data:
  jwtpublickey: {{api-jwtpublickey}}
  jwtprivatekey: {{api-jwtprivatekey}}
  jwtqueuesvcpublickey : {{queue-jwtpublickey}}
  cookiepassword: {{cookiepassword}}
  encryptionpassword: {{encryptionpassword}}
  hashingpassword: {{hashingpassword}}
  scmsettings: {{scmsettings}}
  queue-jwtpublickey: {{queue-jwtpublickey}}
  queue-jwtprivatekey: {{queue-jwtprivatekey}}
